/cmake-build-debug/._.cmake
/._.idea
/cmake-build-debug/.cmake/._api
/cmake-build-debug/._build.ninja
/cmake-build-debug/.cmake/api/v1/query/._cache-v2
/._cmake-build-debug
/cmake-build-debug/._cmake_install.cmake
/cmake-build-debug/._CMakeCache.txt
/cmake-build-debug/._CMakeFiles
/cmake-build-debug/.cmake/api/v1/query/._cmakeFiles-v1
/._CMakeLists.txt
/cmake-build-debug/.cmake/api/v1/query/._codemodel-v2
/._cpu
/._io
/cmake-build-debug/Testing/Temporary/._LastTest.log
/._main.cpp
/cmake-build-debug/.cmake/api/v1/._query
/cmake-build-debug/.cmake/api/v1/._reply
/cmake-build-debug/Testing/._Temporary
/cmake-build-debug/._Testing
/cmake-build-debug/.cmake/api/v1/query/._toolchains-v1
/._utils
/cmake-build-debug/.cmake/api/._v1
/build/CMakeFiles/3.28.3-msvc11/CompilerIdC/a.exe
/build/CMakeFiles/3.28.3-msvc11/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
/build/build.ninja
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-64731f5679cfdd664daa.json
/build/.cmake/api/v1/reply/cache-v2-ebe57004dbffad6577e8.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/build/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.check_cache
/build/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/build/CMakeCache.txt
/cmake-build-debug/CMakeCache.txt
/build/CMakeFiles/3.28.3-msvc11/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/build/CMakeFiles/3.28.3-msvc11/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/3.28.3-msvc11/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.28.3-msvc11/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.28.3-msvc11/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.28.3-msvc11/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/build/.cmake/api/v1/reply/cmakeFiles-v1-9af32d4e28fd8bdeef58.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-63ae5ffd0f63f2aff5d4.json
/build/CMakeFiles/3.28.3-msvc11/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/build/CMakeFiles/3.28.3-msvc11/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/build/.cmake/api/v1/reply/codemodel-v2-33fe7d8a83baf2b4aa06.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b834146227a3c52bac8d.json
/build/compile_commands.json
/build/CMakeFiles/emu8086.dir/CXXDependInfo.json
/build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/build/CMakeFiles/feature_tests.bin
/build/CMakeFiles/ShowIncludes/foo.h
/build/.cmake/api/v1/reply/index-2024-12-22T11-44-16-0264.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-22T11-46-57-0845.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/build/CMakeFiles/ShowIncludes/main.c
/build/.cmake/api/v1/query/client-vscode/query.json
/build/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-emu8086-Debug-39a352cc06bd8af836ad.json
/build/.cmake/api/v1/reply/target-emu8086-Debug-d5ff342e822a904355e5.json
/build/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/build/.cmake/api/v1/reply/toolchains-v1-4632f798d47bde4fedf6.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-839082c379ea4ef10a1f.json
build/.cmake/api/v1/reply/index-2024-12-22T11-57-28-0819.json
.vscode/settings.json
